body {
  color: green;
  background-size: cover;
  background-image: url(/Images/industrial.jpg);
  background-color: black;
  font-family: 'Press Start 2P';
  cursor:crosshair;
}

h1 {
  font-size: 4em;
  text-align: center;
}

div.missile{
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/Images/Cohete-Chico.gif);
}

div.missile2{
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: contain;
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/Images/Upgrade_missle.gif);
}

div#screenCover{
  width: 100%;
  left: 0;
  top: 0;
  height: 800px;
  font-size: 40px;
  position: absolute;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}

div#gameOver{
  width: 100%;
  left: 0;
  top: 0;
  height: 800px;
  font-size: 30px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  background-position: center;
  background-size: cover;
  z-index: 2;
}

div#playField {
  width: 60%;
  left: 20%;
  height: 800px;
  position: absolute;
  text-align: center;
  background-size: cover;
  background-position: center;
  border: solid 5px white;
  background-image: url(/Images/citySkyline.png);
  z-index: -1;
}

#turret {
  position: absolute;
  height: 80px;
  width: 100px;
}

div.button{
  border-radius: 10px;
  margin: 35px;
  padding: 20px;
  border: solid 3px orange;
  background-color: #333333;
}

.button:hover {
  box-shadow: inset 0 0 0 5px orange;
  background: rgb(25,25,25);
}

.score {
  top: 20px;
  right: 10px;
  font-size: 1.7em;
  position: absolute;
}

.button.reset{
  font-size: 15pt;
  width:300px;
  margin:0 auto;
  padding:10px;
}

.sound{
  position:absolute;
}

div.missile.boom {
  background-image: url(/Images/GelbExplo2.gif);
}